.show-detail {
  background-color: $color-gray-background;

  &-img {
      width: 476px;
      height: 265px;
  }

  &-img-background {
    background: $color-bg-php;
    border-radius: 10px;
    height: 439px;
    margin-bottom: 30px;
  }

  .nav-crumb-link {
    font-family: $font_UTM_BryantLG;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
  
    &-text {
      color: $color-dark;
    }

    .fa-angle-right::before {
      color: $color-dark;
    }
  }

  &-nav {
    .nav-link {
      background-color: $color-white;
      margin-right: 80px;
      font-family: $font_UTM_BryantLG;
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.02em;
      color: $color-dark;
    }

    .nav-link.active::before {
      position: absolute;
      top: 56px;
      content: "";
      width: 75px;
      height: 2px;
      background-color: $color-lightgreen;
    }
    
    .nav-link.active {     
      color: $color-lightgreen;
      background-color: $color-white;
    }
  }

  &-content {
    background-color: $color-white;
  }

  .show-detail-course {
    padding: 30px;
  }

  .course-search {
    width: 244px;
    height: 42px;
    background-color: $color-white;
    border: 1px solid $color-circle-gray;
    border-radius: 5px;
    font-family: $font_Open_Sans;
    font-size: 16px;
    line-height: 22px;
    padding-left: 12px;
    margin-right: 10px;
  }

  .fa-search:before {
    content: "\f002";
    position: absolute;
    top: 15px;
    right: 25px;
  }

  .course-description {
    width: 370px;
    height: 440px;
    padding: 17px;
    background: $color-white;
    border: 1px solid $color-gray-border-description;
    box-sizing: border-box;

    &-title {
      font-family: $font_UTM_BryantLG;
      font-weight: bold;
      font-size: 25px;
      line-height: 31px;
      letter-spacing: -0.02em;
      color: $color-dark;
    }

    &-hr {
      border-top: 1px solid $color-lightgreen;
    }

    &-text {
      font-family: $font_UTM_BryantLG;
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      text-align: justify;
      letter-spacing: -0.02em;
      color: $color-gray-text-description;
      overflow: hidden;
      -webkit-line-clamp: 13;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }

  .course-info {
    margin-top: 30px;
    padding: 0px 20px 20px 20px;
    width: 370px;
    height: auto;
    background: $color-white;
    border: 1px solid $color-gray-border-description;
    box-sizing: border-box;
  
    .icon-learners {
      background-image: url(../assets/img/icon_learners.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 35px;
      height: 37px;
    }

    .icon-course {
      background-image: url(../assets/img/icon_course.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 35px;
      height: 37px;
    }

    .icon-lessons {
      background-image: url(../assets/img/icon_lessons.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 35px;
      height: 37px;
    }

    .icon-times {
      background-image: url(../assets/img/icon_times.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 35px;
      height: 37px;
    }

    .icon-tags {
      background-image: url(../assets/img/icon_tags.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 35px;
      height: 37px;
    }

    .icon-prices {
      background-image: url(../assets/img/icon_prices.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 35px;
      height: 37px;
    }

    &-text {
      margin-left: 15px;
      font-family: $font_UTM_BryantLG;
      font-size: 25px;
      line-height: 31px;
      letter-spacing: -0.02em;
      color: $color-dark;
    }

    &-line {
      margin-top: 25px;
      margin-bottom: 30px; 
    }

    &-number {
      margin-left: 15px;
      font-family: $font_UTM_BryantLG;
      font-size: 25px;
      line-height: 31px;
      letter-spacing: -0.02em;
      color: $color-dark;
      font-weight: bold;
    }

    .color-tags {
      color: $color-blue-tags;
    }
  }

  .course-othercourse {
    background: $color-white;
    border: 1px solid $color-gray-border-description;
    box-sizing: border-box;
    width: 370px;
    margin-top: 30px;
    height: 455px;

    &-title {
      font-family: $font_UTM_BryantLG;
      font-weight: bold;
      font-size: 25px;
      line-height: 31px;
      letter-spacing: -0.05em;
      color: $color-white;
      background: $color-lightgreen;
      border: 1px solid $color-border-othercourse;
      box-sizing: border-box;
      width: 370px;
      height: 60px;
    }

    &-list {
      margin-top: 15px;
      padding-left: 17px;
      padding-right: 17px;
    }
  }

  .teacher-name {
    font-family: $font_UTM_BryantLG;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: $color-dark;
  }

  .teacher-role {
    font-family: $font_UTM_BryantLG;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: $color-gray-role;
  }

  .teacher-intro {
    font-family: $font_UTM_BryantLG;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: $color-gray-text-description;
    margin-bottom: 50px;
  }

  .fa-google-plus-g {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid $color-red-icon-google;
  }

  .fa-google-plus-g:before {
    content: "\f0d5";
    font-size: 12px;
    color: $color-red-icon-google;
  }

  .fa-facebook-f {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid $color-blue-icon-facebook;
  }
  
  .fa-facebook-f:before {
    font-size: 12px;
    content: "\f39e";
    color: $color-blue-icon-facebook;
  }

  .fa-star:before {
    content: "\f005";
    font-size: 22px;
    color: $color-yellow-rating-star;
}

  .reviews {
    font-family: $font_UTM_BryantLG;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: -0.02em;
    color: $color-dark;
    -webkit-text-stroke: 0.5px;

    &-username {
      font-family: $font_UTM_BryantLG;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.02em;
      color: $color-dark;
      -webkit-text-stroke: 0.4px;
      margin-right: 15px;
    }

    &-time {
      font-family: $font_UTM_BryantLG;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.02em;
      color: $color-gray-role;
    }

    &-content {
      font-family: $font_UTM_BryantLG;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.02em;
      color: $color-gray-text-description;
    }

    &-img {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      margin-right: 10px;
    }
  }

  .font-size-22 {
    font-size: 22px;
  }

  label.star {
    background-image: url(../assets/img/star_gray.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 17px;
    float: right;
    cursor: pointer;
    margin: 0px;
    margin-right: 7px;
  }

  .course-review {
    width: 768px;
    height: 113px;
    word-break: break-word;
  }

  .p-btn-send {
    padding: 0px 40px;
  }

  input.star:checked~label.star {
    background-image: url(../assets/img/star_yellow.png);
}

  .rating {
    &-star {
      background: $color-dark;
      border-radius: 5px;
      width: 244px;
      height: 176px;

     &-number {
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: $color-white;
      font-family: $font_UTM_BryantLG;
      font-weight: bold;
      font-size: 60px;
      line-height: 74px;
      letter-spacing: -0.02em;
      color: $color-white;
     }

     &-total {
      font-family: $font_UTM_BryantLG;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.02em;
      color: $color-white;
     }
    }

    .rating-statistic {
      border: 1px solid $color-gray-border-rating;
      box-sizing: border-box;
      border-radius: 5px;

      &-type {
        font-family: $font_UTM_BryantLG;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: $color-dark;
      }

      &-graph {
        border-top: 6px solid $color-border-input;
        width: 335px;
        margin: 14px auto;
      }

      .active {
        border-top: 6px solid $color-lightgreen;
      }

      &-total {
        font-family: $font_UTM_BryantLG;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.02em;
        color: $color-gray-number-rating;
      }
    }

    .col-8 {
      max-width: 62.6666666667%;
    }
  }

  .review-show {
    font-family: $font_UTM_BryantLG;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: $color-dark;
    -webkit-text-stroke: 0.4px;
    border: none;

    .select2-container {
      width: 151px !important;
    }

    .select2-container--default 
      .select2-selection--single {
        border: none;
    }
  }

  .tab-title {
    font-family: $font_UTM_BryantLG;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: -0.02em;
    color: $color-dark;
    -webkit-text-stroke: 0.5px;
    margin-bottom: 15px;
  }

  .tab-content {
    font-family: $font_UTM_BryantLG;
    font-size: 18px;
    line-height: 26px;
    text-align: justify;
    letter-spacing: -0.02em;
    color: $color-gray-text-description;
  }

  .icon-video {
    background-image: url(../assets/img/icon_video.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height: 37px;
  }

  .icon-pdf {
    background-image: url(../assets/img/icon_pdf.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height: 37px;
  }

  .icon-word {
    background-image: url(../assets/img/icon_word.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height: 37px;
  }

  .program {
    &-name {
      font-family: $font_UTM_BryantLG;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.02em;
      color: $color-dark;
      -webkit-text-stroke: 0.5px;
    }

    &-type {
      width: 50px;
      font-family: $font_UTM_BryantLG;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.02em;
      color: $color-gray-role;
    }
  }

  .lesson-title {
    font-family: $font_UTM_BryantLG;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: $color-dark;
  }

  .othercourse {
    font-family: $font_UTM_BryantLG;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: $color-dark;
  }

  .lesson-index {
    width: 20px;
    font-family: $font_UTM_BryantLG;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: $color-dark;
  }

  .processing-border {
    width: 64px;
    height: 20px;
    position: relative;
  }

  .processing {
    height: 20px;
    position: absolute;
    z-index: 2;
    left: 0px;
    background-color: $color-bg-css;
  }

  .processing-number {
    z-index: 3;
    font-family: $font_UTM_BryantLG;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: $color-dark;
  }

  .lesson-processing::before {
    z-index: 0;
    position: absolute;
    width: 64px;
    height: 20px;
    background-color: $color-border-input;
    content: '';
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}