.reset-title {
    font-family: $font_UTM_BryantLG;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.02em;
    color: $color-lightgreen;
    -webkit-text-stroke-color: 0.75px;
}

.reset-notice {
    font-family: $font_UTM_BryantLG;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: $color-dark;
}

.width-reset-email {
    width: 462px;
}